<a class="group w-full" href="{{.Link}}">
  <div
    class="m-2 flex border border-white bg-white text-gray-800 transition-transform group-hover:-translate-y-2 group-hover:translate-x-1 group-hover:shadow-xl"
  >
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time datetime="{{.DateTimeISO}}" class="flex items-center justify-between gap-4 text-xs font-bold uppercase">
        <span>{{.DayMonth}}</span>
        <span class="w-px flex-1 bg-zinc-500"></span>
        <span>{{.Year}}</span>
      </time>
    </div>

    <div class="hidden sm:block sm:basis-40">
      <img alt="{{.Title}}" src="{{.FeaturedImage}}" class="aspect-square h-full w-full object-cover" />
    </div>

    <div class="relative flex flex-1 flex-col">
      <div class="border-s border-white/10 p-4 sm:border-l-transparent sm:p-6">
        <h3 class="text-xl font-bold uppercase tracking-wider md:text-start text-slate-900">{{.Title}}</h3>
        <p class="mt-2 line-clamp-2 text-sm/relaxed font-light text-slate-500 md:text-start">
          {{.Excerpt}}
        </p>
      </div>

      <div class="absolute bottom-0 right-0 px-4 py-1 text-center text-xs font-light uppercase text-slate-700">
        {{.ReadTime}} min read
      </div>
    </div>
  </div>
</a>
