<div class="flex flex-col">
  <div class="mt-8 border-b py-4">
    <ol class="list-reset flex">
      {{range .Breadcrumbs}}
      <li>
        <a
          href="{{.Link}}"
          class="font-light text-slate-800 transition duration-150 ease-in-out hover:text-orange-300 focus:text-orange-300 active:text-orange-300 motion-reduce:transition-none dark:text-slate-200"
        >
          {{.Name}}
        </a>
      </li>
      <li>
        <span class="mx-2 text-orange-500">></span>
      </li>
      {{end}}
      <li class="text-neutral-400">{{.Title}}</li>
    </ol>
  </div>

  <div class="flex flex-col space-y-4 border-b py-4">
    <h1 class="mb-2 mt-4 text-4xl font-light tracking-wider text-slate-900 dark:text-slate-100">{{.Title}}</h1>
    <div
      class="flex items-baseline md:space-x-4 max-md:space-y-2 font-light tracking-wide text-slate-600 dark:text-slate-400 max-md:flex-col"
    >
      <span class="pr-4 md:border-r">
        📅 Published
        <time class="text-slate-800 dark:text-slate-200" datetime="{{.PublishedDate}}">{{.Published}}</time>
      </span>
      <span class="pr-4 md:border-r">
        📅 Last Updated
        <time class="text-slate-800 dark:text-slate-200" datetime="{{.LastUpdatedDate}}">{{.LastUpdated}}</time>
      </span>
      <span class="pr-4 md:border-r">🕘 {{.ReadTime}} minute read</span>
      <div class="flex space-x-2">
        {{range .Tags}}
        <a
          class="border border-transparent bg-slate-200 px-4 py-2 text-sm hover:border-orange-700 hover:bg-orange-300 hover:text-orange-700 dark:bg-slate-800 dark:hover:bg-orange-300"
          href="{{.Link}}"
        >
          #{{.Name}}
        </a>
        {{end}}
      </div>
    </div>
  </div>
</div>
