<section
  hx-get="/home/blackhole"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-screen items-center justify-center"
></section>

<section
  hx-get="/home/cloud"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-[50vh] items-center justify-center"
></section>

<section
  hx-get="/home/books"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-screen items-center justify-center"
></section>

<section hx-get="/home/vacations" hx-trigger="revealed" hx-swap="innerHTML" class="my-48 min-h-screen"></section>

<section hx-get="/home/notes" hx-trigger="revealed" hx-swap="innerHTML" class="min-h-screen"></section>
