<section
  hx-get="/_home/blackhole"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-screen items-center justify-center"
></section>

<section
  hx-get="/_home/cloud"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-[50vh] items-center justify-center"
></section>

<section
  hx-get="/_home/books"
  hx-trigger="revealed"
  hx-swap="innerHTML"
  class="flex min-h-screen items-center justify-center"
></section>

<section hx-get="/_home/vacations" hx-trigger="revealed" hx-swap="innerHTML" class="min-h-screen"></section>

<section hx-get="/_home/notes" hx-trigger="revealed" hx-swap="innerHTML" class="min-h-screen"></section>
