<div class="relative flex flex-col justify-center space-y-8 overflow-x-clip overflow-y-visible my-80">
  <div class="container mx-auto max-w-5xl px-4 py-12">
    <div class="mx-4 grid gap-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3">
        <div
          class="mb-14 text-center before:mx-auto before:mb-5 before:block before:h-3 before:w-24 before:rounded-md before:bg-orange-400 before:dark:bg-orange-600 sm:text-left sm:before:mx-0"
        >
          <h2 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100">🗺️ Next Station</h2>
          <span class="text-lg font-light leading-loose text-slate-600 dark:text-slate-400"
            >โหมดท่องเที่ยว (ญี่ปุ่น)
          </span>
          <div class="mx-auto mt-16 flex w-fit flex-col items-start justify-center">
            <img src="/static/images/japan-map.webp" alt="japan map" class="self-center p-4" loading="lazy" />
            <div class="flex flex-row items-baseline justify-start">
              <div class="h-2 w-2 rounded-full bg-green-500"></div>
              <span class="mx-2 text-xs text-gray-600 dark:text-gray-400">ไปมาแล้ว</span>
            </div>
            <div class="flex flex-row items-baseline justify-start">
              <div class="h-2 w-2 rounded-full bg-blue-500"></div>
              <span class="mx-2 text-xs text-gray-600 dark:text-gray-400">ยังไม่เคยผ่าน</span>
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 space-y-6 px-4 sm:col-span-9">
        <div
          class="relative col-span-12 space-y-12 px-4 before:bg-orange-200 before:dark:bg-orange-400 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:-left-3 sm:before:bottom-0 sm:before:top-2 sm:before:w-0.5"
        >
          {{range .Items}} {{template "card.html" .}} {{end}}
          <div class="mt-16 text-center">
            <a
              href="/vacations"
              class="mt-4 inline-block w-full rounded border border-orange-500 bg-white px-8 py-3 text-orange-500 transition hover:bg-orange-400 hover:text-white"
            >
              ไปพักร้อนกัน 🏖️
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="sun"
    class="absolute -left-[640px] -top-[640px] -z-50 h-[640px] w-[640px] rounded-[50%] bg-orange-500 md:-left-[560px] lg:-left-[480px]"
    style="
      box-shadow:
        0 0 10px orange,
        0 0 60px orange,
        0 0 200px yellow,
        inset 0 0 80px yellow;
      filter: blur(2px);
    "
  ></div>
  <div
    id="moon"
    class="absolute -right-[120px] top-2/4 -z-50 h-[120px] w-[120px] rounded-[50%] bg-zinc-500 dark:bg-white md:-right-[90px] xl:-right-[60px]"
    style="
      box-shadow:
        0 0 10px slategray,
        0 0 60px slategray,
        0 0 200px whitesmoke,
        inset 0 0 80px slategray;
      filter: blur(1px);
    "
  ></div>
</div>
