<section class="relative block h-[512px]">
  <div
    class="absolute top-0 h-full w-full bg-cover bg-center"
    style="background-image: url('/static/images/about.webp')"
  >
    <span class="absolute h-full w-full bg-zinc-100 opacity-25 dark:bg-zinc-900"></span>
  </div>
</section>

<section class="relative py-16">
  <div class="container mx-auto px-4">
    <div class="relative -mt-64 mb-6 flex w-full min-w-0 flex-col break-words rounded-lg bg-white shadow-xl">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="flex w-full justify-center px-4 lg:order-2 lg:w-3/12">
            <div class="relative">
              <img
                alt="profile"
                src="/static/images/profile.webp"
                class="absolute -m-16 -ml-20 h-36 w-36 max-w-fit rounded-full border-none align-middle shadow-xl lg:-ml-16"
              />
            </div>
          </div>
          <div class="w-full px-4 lg:order-3 lg:w-4/12 lg:self-center lg:text-right">
            <div class="mt-32 px-3 py-6 sm:mt-0">
              <a
                href="https://github.com/ztrixack"
                class="mb-1 cursor-pointer rounded bg-zinc-700 px-4 py-2 text-xs uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:bg-zinc-500 hover:shadow-md focus:outline-none active:bg-orange-600 sm:mr-2"
              >
                GitHub
              </a>
            </div>
          </div>
          <div class="w-full px-4 lg:order-1 lg:w-4/12">
            <div class="flex justify-center py-4 pt-8 lg:pt-4">
              <div class="mr-4 p-3 text-center">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_vacations/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Vacations</span>
              </div>
              <div class="mr-4 p-3 text-center">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_books/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Books</span>
              </div>
              <div class="p-3 text-center lg:mr-4">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_notes/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Notes</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 text-center">
          <h3 class="mb-2 text-4xl font-semibold leading-normal tracking-wider text-slate-700">ztrixack</h3>
          <div class="mb-2 mt-0 text-sm leading-normal text-slate-400">ที่ไหนซักแห่งของมุมโลก</div>
          <div class="mb-2 mt-10 text-slate-600">
            Rookie of Embedded System Engineer, Software Engineer, Technician, Traveler and Blogger
          </div>
          <div class="mb-2 text-slate-600">Thailand</div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 lg:w-9/12">
              <h4 class="p-4 text-center text-xl font-normal text-orange-500">Technology Stack</h4>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                สำหรับ Website ก่อร่างสร้างตัวขึ้นมาจากเทคโนโลยีนี้
              </p>
              <ul>
                <li>Go: Backend server สำหรับ serve ข้อมูลต่างๆที่ render แล้วออกมาให้</li>
                <li>HTMX: JavaScript Action</li>
                <li>TailwindCSS: จัดการ CSS บน class</li>
                <li>Google Cloud Run: server(less) สำหรับเว็บ</li>
                <li>Cloudflare: หน้าด่านสำหรับทำ SSL/Cache/Domain Mapping</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="flex w-full flex-col space-y-4 px-4 lg:w-9/12">
              <h4 class="text-center text-xl font-normal text-orange-500">History</h4>
              <p class="text-lg leading-relaxed text-slate-700">
                เริ่มแรกเดิมที เราเขียนบทความมาตั้งแต่ตอนเรียนอยู่ปี 2 แล้ว
                ในตอนนั้นจะเป็นการเขียนสรุปการเรียนต่างๆใส่ใน Google Doc
                เอาไว้สำหรับเตรียมสอบและอยากรวบรวมข้อมูลและความรู้ที่เราได้รับมาบันทึกไว้ที่ไหนซักที่ กะจะเอาไว้อ่านเอง
                ไม่ได้มีความคิดที่จะเปิดแบบ public หรือมีเว็บไซด์ เพราะยังทำไม่เป็น จนกระทั่งเริ่มทำงานไปได้ซักพัก
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                หลังจากทำงานได้จนอยู่ตัวแล้ว เวลาว่างมากขึ้น
                ก็มีความคิดที่ว่าเราน่าจะลองแชร์ข้อมูลที่เรามีเผยแพร่ออกไปบ้าง เผื่อจะมีค่าขนมเล็กๆ น้อยๆ
                แต่ในช่วงเวลานั้นก็ยังไม่มีความรู้ทางด้านเว็บไซด์มากนัก เราพึ่งพาเว็บสำเร็จรูปอย่าง Google Site, Blogger
                หรือ Wordpress แต่ก็ยังไม่ค่อยถูกใจเท่าไร เพราะมันไม่สามารถปรับแต่งได้รูปแบบที่เราต้องการ
                อย่างพวกสมการคณิตศาสตร์ รูปภาพ หรือการจัดกลุ่มต่างๆ
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                พอเขียนไปได้ซักพัก ก็เริ่มศึกษาการเขียนเว็บไซด์
                และก็ลองเอาการเรียนการเว็บไซด์นี้แหละมาเขียนบทความลงเว็บอีกที ประโยชน์​ 2 ต่อ คุ้มค่า!
                และเพื่อที่จะได้ปรับเปลี่ยนให้ตรงกับสิ่งที่เราอยากได้มากขึ้น จึงได้เริ่มลองเขียน Frontend ขึ้นมาก่อนจาก
                JavaScript Framework สุดฮิตจากค่าย Meta (หรือตอนนั้นก็คือ Facebook) React โดยมี Backend เป็น Firebase
                RealTime Database ไว้สำหรับเก็บข้อมูล และพยายามย้ายบ้านมาลงที่นี่ทั้งหมด
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                ทุกอย่างดูเหมือนจะเป็นไปได้ด้วยดี เพราะ React ก็สามารถรังสรรค์ได้ตามที่เราต้องการ มีระบบ login
                วิธีการเขียนบทความผ่านหน้าเว็บได้เลย พร้อมทั้งยังได้ฝึกการเขียนเว็บอีกด้วย
                แต่พอเอาเข้าจริงก็กลายเป็นว่าติดเขียนเว็บ ไม่ได้เขียนบทความเลย ก็ปรับโน่น แต่งนี่ไปเรื่อย
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                ส่วนที่กินเวลามากที่สุดก็คือการทำ markdown ผ่านหน้าเว็บและการจัดเก็บข้อมูล
                มันนานจดเริ่มรู้สึกได้ว่ามาผิดทางแล้ว
                เราควรจะเน้นไปที่ข้อมูลหรือความรู้ที่เราจะเขียนลงไปมากกว่ามานั่งแก้ปัญหาจุกจิกนี้ จึงเริ่มกลับมองหา
                platform สำเร็จรูปสำหรับเขียนบทความอย่าง Ghost จึงเริ่มการทำเว็บไซต์ในยุคที่ 2
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                React + Ghost ค่อนข้างตอบโจทย์มากกับการที่ Ghost มีระบบจัดการที่ค่อยข้างดี แม้จะมีจุดขัดใจเล็กๆน้อยๆ
                บ้าง ก็ยอมๆ กันไป เราจึงอยู่กับ React + Ghost เป็นระยะเวลาที่นานพอสมควร
                แต่ด้วยการร้างการเขียนไปนานและงายยุ่งมากๆ ก็ไม่ค่อยได้เข้าไปใช้ กอปรกับค่า server
                ก็เริ่มกินค่าใช้จ่ายไปมากขึ้นเรื่อยๆ จึงตัดสินใจปิดตัว server ลงไป และเอาตังไปหาอะไรอร่อยๆ กินแทน
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                หลังจากนั้นก็ได้มารู้จักกับ Notion ซึ่งเป็น application จดโน๊ตที่ใช้ได้ฟรี รองรับการทำงานผ่าน web
                browser และสามารถเขียนบทความข้อมูลต่างๆ ที่เราอยากจดไว้ได้ง่ายมากๆ
                จึงได้เริ่มลองใช้และใช้มาจนถึงปัจจุบัน
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                เรื่องเหมือนจะจบ แต่ก็ไม่ พอเราเขียนเว็บเป็น เราก็อยากมีที่ลองอะไรใหม่ๆ อย่าง Svelte หรือ Vue
                ซึ่งก็เริ่มลองเขียนดู โดยทำเป็นแบบ static file และอัพขึ้น Google Firebase Hosting ซึ่งใช้งานได้ฟรีๆ
                แต่ก็็มาติดกับดักเรื่องเวลาว่างและปัญหา technical อื่นๆ อยู่ดี จึงต้องปิดตัวลงไปก่อน
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                จนสุดท้ายที่ทำงานเริ่มอยู่ตัวและว่างมากขึ้น ก็คิดว่าเราน่าจะลองกลับมาเขียนบทความแชร์อีกครั้ง
                โดยนำบทความทั้งหลายที่เคยเขียนตั้งแต่อดีตมาปัดฝุ่นใหม่และอัพเดทในทันเทคโนโลโลยีมากขึ้น
                โดยไม่จำเป็นต้องทำอะไรเวอร์วังอลังการแบบตอนแรก (มั้ง) และจะใช้สิ่งที่เราถนัดในตอนนั้นนั่นคือใช้ภาษา Go
                เป็น Backend และจัดการทุกๆ อย่างให้เสร็จสรรพด้วยการ code เลย และใช้ HTMX มาจัดการกับ Frontend แทน โดย
                deploy ขึ้น Google Cloud Run ซึ่งใช้ได้ฟรีถ้าไม่เกินโควต้า
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                สุดท้าย ขอขอบคุณทุกๆ ท่านที่เข้ามาอ่านด้วยนะครับ มีอะไรผิดพลาด หรือเสนอแนะอะไร ก็สามารถ comment
                คุยกันได้ ก็หวังว่าเว็บไซด์นี้จะยังพอมีประโยชน์แก่ผู้ที่หลงเข้ามาอยู่บ้างนะครับ 😁
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>{{template "comments.html" .}}</section>

<section class="h-24 w-full"></section>
