<section class="relative block h-[512px]">
  <div
    class="absolute top-0 h-full w-full bg-cover bg-center"
    style="
      background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80');
    "
  >
    <span class="absolute h-full w-full bg-zinc-100 opacity-25 dark:bg-zinc-900"></span>
  </div>
</section>

<section class="relative py-16">
  <div class="container mx-auto px-4">
    <div class="relative -mt-64 mb-6 flex w-full min-w-0 flex-col break-words rounded-lg bg-white shadow-xl">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="flex w-full justify-center px-4 lg:order-2 lg:w-3/12">
            <div class="relative">
              <img
                alt="..."
                src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg"
                class="max-w-150-px absolute -m-16 -ml-20 h-auto rounded-full border-none align-middle shadow-xl lg:-ml-16"
              />
            </div>
          </div>
          <div class="w-full px-4 lg:order-3 lg:w-4/12 lg:self-center lg:text-right">
            <div class="mt-32 px-3 py-6 sm:mt-0">
              <a
                class="mb-1 cursor-pointer rounded bg-orange-500 px-4 py-2 text-xs uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:shadow-md focus:outline-none active:bg-orange-600 sm:mr-2"
              >
                Blog
              </a>
            </div>
          </div>
          <div class="w-full px-4 lg:order-1 lg:w-4/12">
            <div class="flex justify-center py-4 pt-8 lg:pt-4">
              <div class="mr-4 p-3 text-center">
                <span class="block text-xl font-bold uppercase tracking-wide text-slate-600"> 2 </span
                ><span class="text-sm text-slate-400">Vacations</span>
              </div>
              <div class="mr-4 p-3 text-center">
                <span class="block text-xl font-bold uppercase tracking-wide text-slate-600"> 40 </span
                ><span class="text-sm text-slate-400">Books</span>
              </div>
              <div class="p-3 text-center lg:mr-4">
                <span class="block text-xl font-bold uppercase tracking-wide text-slate-600"> 8 </span
                ><span class="text-sm text-slate-400">Notes</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 text-center">
          <h3 class="mb-2 text-4xl font-semibold leading-normal text-slate-700"></h3>
          <div class="mb-2 mt-0 text-sm uppercase leading-normal text-slate-400">อยู่ที่ไหนซักแห่งของมุมโลก</div>
          <div class="mb-2 mt-10 text-slate-600">Embedded System Engineer, Software Engineer, Traveler, </div>
          <div class="mb-2 text-slate-600">University of Computer Science</div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 lg:w-9/12">
              <h4 class="text-xl font-normal p-4 text-center text-orange-500">Technology Stack</h4>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                สำหรับ Website ก่อร่างสร้างตัวขึ้นมาจากเทคโนโลยีนี้
              </p>
              <ul>
                <li>Go: Backend server สำหรับ serve ข้อมูลต่างๆที่ render แล้วออกมาให้</li>
                <li>HTMX: JavaScript Action</li>
                <li>TailwindCSS: จัดการ CSS บน class</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 lg:w-9/12">
              <h4 class="text-xl text-center font-normal text-orange-500 p-4">History</h4>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                เริ่มแรกเดิมทีเขียนบทความมาตั้งแต่ปี 2016 ในช่วงเวลานั้นยังไม่มีความรู้ทางด้านเว็บไซด์มากนัก แต่ก็อยากรวบรวมข้อมูล ความรู้ที่เราได้รับรู้มา บันทึกไว้ซักที่ จึงได้เริ่มเขียนบทความขึ้น
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                ในช่วงแรกๆ (ปี 2016 - 2017) จะยังพึ่งพาเว็บสำเร็จรูปอย่าง Google Site, Blogger, หรือ Wordpress แต่ก็ยังไม่ค่อยถูกใจเท่าไร เพราะมันไม่ได้รูปแบบที่เราต้องการ อย่างพวกสมการคณิตศาสตร์ รูปภาพ หรือการจัดกลุ่มบทความ จึงเริ่มศึกษาการเขียน website เพื่อที่จะได้ปรับเปลี่ยนให้ตรงกับสิ่งที่เราอยากได้มากขึ้น ในปีถัดมา จึงได้เริ่มลองเขียน Frontend ขึ้นจาก React โดยมี Backend เป็น Firebase RealTime Database และพยายามย้ายบ้านมาลงที่นี่ทั้งหมด
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                ทุกอย่างดูเหมือนจะเป็นไปได้ด้วยดี เพราะ React ก็สามารถรังสรรค์ได้ตามที่เราต้องการ มีระบบ login วิธีการเขียนบทความผ่านหน้าเว็บได้เลย พร้อมทั้งยังได้ฝึกการเขียนเว็บอีกด้วย แต่พอเอาไปใช้งานจริงก็จะติดปัญหาทาง Technical หลายอย่าง และมีเรื่แงจุกจิกมากซะจนไม่ได้เขียนบทความเลย เพราะมัวแต่ปรับนั่น แต่งโน่นไปเรื่อย โดยเฉพาะการเขียนบทความผ่านหน้าเว็บ
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                ก็ทำเว็บสำหรับบทความของตัวเองมาเรื่อยๆ ซึ่งทำมากซะจนไม่มีเวลาเอาไปหาข้อมูลเพื่อเขียนบทความใหม่ๆ เลย ตอนนั้นก็เริ่มท้อแท้เพราะมันไม่เสร็จซักที จึงเริ่มกลับมองหา platform สำเร็จรูปอย่าง medium และหลังบ้านสำเร็จรูปสำหรับเขียนบทความอย่าง Ghost
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                สำหรับ medium มันค่อนข้างตรงกับสิ่งที่เราต้องการมาก แต่หลังจากที่เขียน backend เป็นแล้ว เราก็อยากได้การทำ backend application ขึ้นมาแปะบนหน้าเว็บด้วย ดังนั้นจะเหลือเพียง 1 ตัวเลือกนั่นก็คือ ใช้ React เป็น frontend และให้ Ghost เป็น backend ไป
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                React + Ghost ค่อนข้างตอบโจทย์ จึงใช้เป็นระยะเวลาที่นานพอสมควร แต่ cost ก็ได้โตตามระยะเวลาไปด้วย จึงเริ่มเปลี่ยนแผนในการออกบทความเป็นการแปลงข้อมูลทั้งหมดมาเป็น static HTML เพราให้โค้ดสามารถลง Firebase Hosting ซึ่งใช้ฟรีได้
              </p>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>{{template "comments.html" .}}</section>
