<section class="relative block h-[512px]">
  <div
    class="absolute top-0 h-full w-full bg-cover bg-center"
    style="background-image: url('/static/images/about.webp')"
  >
    <span class="absolute h-full w-full bg-zinc-100 opacity-25 dark:bg-zinc-900"></span>
  </div>
</section>

<section class="relative py-16">
  <div class="container mx-auto px-4">
    <div class="relative -mt-64 mb-6 flex w-full min-w-0 flex-col break-words rounded-lg bg-white shadow-xl">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="flex w-full justify-center px-4 lg:order-2 lg:w-3/12">
            <div class="relative">
              <img
                alt="profile"
                src="/static/images/profile.webp"
                class="absolute -m-16 -ml-20 h-36 w-36 max-w-fit rounded-full border-none align-middle shadow-xl lg:-ml-16"
              />
            </div>
          </div>
          <div class="w-full px-4 lg:order-3 lg:w-4/12 lg:self-center lg:text-right">
            <div class="mt-32 px-3 py-6 sm:mt-0">
              <a
                href="https://github.com/ztrixack"
                class="mb-1 cursor-pointer rounded bg-zinc-700 px-4 py-2 text-xs uppercase text-white shadow outline-none transition-all duration-150 ease-linear hover:bg-zinc-500 hover:shadow-md focus:outline-none active:bg-orange-600 sm:mr-2"
              >
                GitHub
              </a>
            </div>
          </div>
          <div class="w-full px-4 lg:order-1 lg:w-4/12">
            <div class="flex justify-center py-4 pt-8 lg:pt-4">
              <div class="mr-4 p-3 text-center">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_vacations/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Vacations</span>
              </div>
              <div class="mr-4 p-3 text-center">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_books/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Books</span>
              </div>
              <div class="p-3 text-center lg:mr-4">
                <span
                  class="block text-xl font-bold uppercase tracking-wide text-slate-600"
                  hx-get="/_notes/count"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                >
                  ?
                </span>
                <span class="text-sm text-slate-400">Notes</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 text-center">
          <h3 class="mb-2 text-4xl font-semibold leading-normal tracking-wider text-slate-700">ztrixack</h3>
          <div class="mb-2 mt-0 text-sm leading-normal text-slate-400">ที่ไหนซักแห่งของมุมโลก</div>
          <div class="mb-2 mt-10 text-slate-600">
            Rookie of Embedded System Engineer, Software Engineer, Technician, Traveler and Blogger
          </div>
          <div class="mb-2 text-slate-600">Thailand</div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 lg:w-9/12">
              <h4 class="p-4 text-center text-xl font-normal text-orange-500">Technology Stack</h4>
              <p class="mb-2 text-lg leading-relaxed text-slate-700">
                สำหรับเว็บไซต์นี้ เราใช้เทคโนโลยีหลายอย่างเพื่อให้ได้ผลลัพธ์ที่ตรงกับความต้องการและสามารถจัดการได้ง่าย
                โดยเทคโนโลยีที่ใช้มีดังนี้:
              </p>
              <ul class="tracking-wide">
                <li>
                  <i>Go:</i> ใช้เป็น Backend server สำหรับการเสิร์ฟข้อมูลที่ถูก render
                  แล้วออกมาให้กับผู้ใช้งาน
                </li>
                <li>
                  <i>Markdown:</i> ใช้สำหรับเขียนบทความ
                  ทำให้การจัดการเนื้อหาเป็นไปได้อย่างสะดวกและมีโครงสร้างที่ดี
                </li>
                <li>
                  <i>HTMX:</i> ใช้ในการจัดการ JavaScript Action
                  ช่วยให้หน้าเว็บมีความโต้ตอบและประสบการณ์การใช้งานที่ดีขึ้น
                </li>
                <li>
                  <i>TailwindCSS:</i> ใช้ในการจัดการ CSS บน class
                  ทำให้การออกแบบและปรับแต่งหน้าเว็บเป็นไปอย่างรวดเร็วและง่ายดาย
                </li>
                <li>
                  <i>Google Cloud Run:</i> ใช้สำหรับการ deploy server(less)
                  ทำให้สามารถขยายขนาดการใช้งานได้ตามต้องการโดยไม่ต้องจัดการ server เอง
                </li>
                <li>
                  <i>Cloudflare:</i> ทำหน้าที่เป็นหน้าด่านสำหรับ SSL, Cache และ Domain Mapping
                  เพื่อเพิ่มความปลอดภัยและประสิทธิภาพในการเข้าถึงเว็บไซต์
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-10 border-t border-slate-200 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="flex w-full flex-col space-y-4 px-4 lg:w-9/12">
              <h4 class="text-center text-xl font-normal text-orange-500">กว่าจะเป็นเว็บไซต์นี้</h4>
              <p class="text-lg leading-relaxed text-slate-700">
                เริ่มแรกเดิมที เราเริ่มเขียนบทความตั้งแต่ตอนเรียนอยู่ปี 2 โดยใช้ Google Doc
                สรุปเนื้อหาการเรียนเพื่อเตรียมสอบและเก็บความรู้ที่ได้รับมา
                ตอนนั้นยังไม่ได้คิดจะเผยแพร่หรือสร้างเว็บไซต์เพราะยังไม่มีความรู้ด้านนี้ จนกระทั่งเริ่มทำงานได้ซักพัก
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                เมื่อเริ่มทำงานจนอยู่ตัว เวลาว่างมากขึ้นก็คิดว่าเราน่าจะแชร์ข้อมูลที่มีให้คนอื่นๆ เผื่อจะได้ค่าขนมเล็กๆ
                น้อยๆ ตอนนั้นยังไม่มีความรู้ในการสร้างเว็บไซต์ จึงพึ่งพาเว็บสำเร็จรูปอย่าง Google Site, Blogger หรือ
                WordPress แต่ก็ไม่ค่อยพอใจเพราะปรับแต่งไม่ได้ตามต้องการ เช่น การแสดงสมการคณิตศาสตร์ รูปภาพ
                หรือการจัดกลุ่มข้อมูลต่างๆ
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                พอเขียนไปได้ซักพัก ก็เริ่มศึกษาการเขียนเว็บไซต์ และลองนำความรู้มาเขียนบทความ ได้ประโยชน์สองต่อ!
                เราเริ่มต้นจากการเขียน Frontend ด้วย React (จาก Meta หรือ Facebook) โดยใช้ Firebase RealTime Database
                เป็น Backend สำหรับเก็บข้อมูล และพยายามย้ายบทความมาลงที่นี่ทั้งหมด
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                ทุกอย่างดูเหมือนจะไปได้ด้วยดี เพราะ React ทำให้สามารถสร้างสิ่งที่ต้องการได้ มีระบบ login
                และสามารถเขียนบทความผ่านหน้าเว็บได้ แต่ก็กลายเป็นว่าติดการเขียนเว็บมากกว่าเขียนบทความ
                ปรับนั่นแต่งนี่ไปเรื่อย
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                ส่วนที่กินเวลามากที่สุดคือการทำ markdown ผ่านหน้าเว็บและการจัดเก็บข้อมูลที่ไม่ตรงใจซักที
                จนเริ่มรู้สึกว่ามาผิดทาง เราควรเน้นที่เนื้อหามากกว่าการแก้ปัญหาจุกจิก จึงเริ่มมองหา platform
                สำเร็จรูปสำหรับเขียนบทความอย่าง Ghost และเริ่มทำเว็บไซต์ในยุคที่สอง
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                React + Ghost ตอบโจทย์มากเพราะ Ghost มีระบบจัดการที่ดี แม้จะมีจุดขัดใจเล็กๆ น้อยๆ แต่ก็ยอมรับได้
                เราจึงใช้ React + Ghost อยู่ระยะเวลานานพอสมควร แต่ด้วยการร้างการเขียนไปนานและงานยุ่ง ค่า server
                เริ่มเพิ่มขึ้นเรื่อยๆ จึงตัดสินใจปิดตัว server และนำเงินไปหาอะไรอร่อยๆ กินแทน
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                หลังจากนั้น เราได้รู้จักกับ Notion ซึ่งเป็น application จดโน๊ตที่ใช้งานฟรี
                รองรับการทำงานผ่านเว็บบราวเซอร์ และสามารถเขียนบทความได้ง่ายมากๆ จึงเริ่มลองใช้และใช้มาจนถึงปัจจุบัน
                ซึ่งก็ตอบโจทย์ที่ต้องการมากๆ
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                เรื่องเหมือนจะจบ แต่ก็ไม่ เพราะพอเราเขียนเว็บเป็น เราก็อยากลองอะไรใหม่ๆ บ้าง อย่างพวก Svelte หรือ Vue
                โดยลองทำเว็บเป็น static file และอัพขึ้น Google Firebase Hosting ซึ่งใช้งานฟรี
                แต่ทำไปซักพักก็ติดปัญหาเวลาว่างและปัญหา technical อื่นๆ ที่ทำยังไงก็ยังไม่ถูกใจซักที (เอาใจยากจริง!)
                จึงต้องปิดตัวลงไปก่อนอีกครั้ง
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                สุดท้าย เมื่อทำงานจนอยู่ตัวและมีเวลาว่างมากขึ้น ก็คิดว่าเราน่าจะกลับมาเขียนบทความแชร์อีกครั้ง
                นำบทความที่เคยเขียนมาปัดฝุ่นและอัพเดทให้ทันสมัย โดยไม่ต้องทำอะไรซับซ้อน ใช้ภาษา Go เป็น Backend
                และจัดการทุกอย่างด้วย code ใช้ HTMX สำหรับ Frontend และ deploy ขึ้น Google Cloud Run
                ที่ใช้งานฟรีถ้าไม่เกินโควต้า
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                จนในที่สุดก็พยายามที่จะเขียนเว็บออกมา โดยลงแรงกับการทำหน้าเว็บให้น้อยที่สุด โดยที่ยังมี features
                ที่อยากได้ทั้งหมดออกมา จนกลายมาเป็นเว็บไซต์นี้ขึ้นมา
              </p>
              <p class="text-lg leading-relaxed text-slate-700">
                สุดท้าย ขอบคุณทุกๆ ท่านที่เข้ามาอ่าน หากมีข้อผิดพลาดหรือข้อเสนอแนะ สามารถ comment คุยกันได้
                หวังว่าเว็บไซต์นี้จะมีประโยชน์แก่ผู้ที่เข้ามาเยี่ยมชมบ้างนะครับ 😁
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>{{template "comments.html" .}}</section>

<section class="h-24 w-full"></section>
