@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
  transition: opacity 0.5s ease-in-out;
}

.htmx-swapping #content {
  opacity: 0;
}

body {
  font-family: 'Kanit', 'sans-serif';
}

.katex-html {
  display: none;
}
