<div class="relative h-[80vh] w-screen overflow-auto">
  <div class="inset-0 h-full bg-cover bg-center" style="background-image: url('{{.Image}}')"></div>
  <div class="absolute z-20 inset-0 h-full w-full bg-zinc-900 bg-opacity-25 dark:bg-opacity-75"></div>
  <div class="absolute inset-0 z-30 flex flex-col items-center justify-center">
    <div class="h-96 w-4/5 rounded-lg bg-zinc-100/50 bg-cover bg-center shadow-2xl dark:bg-zinc-900/50">
      <div class="container mx-auto space-y-1 p-4 text-center my-32">
        <span class="text-xs font-semibold uppercase tracking-wider dark:text-violet-600">Vacation Time</span>
        <h1 class="pb-3 text-3xl font-bold text-slate-900 dark:text-slate-100 md:text-4xl">
          ลาพักร้อน แล้วออกไปเที่ยวกัน
        </h1>
        <p class="text-slate-700 dark:text-slate-300">

        </p>
      </div>
    </div>
  </div>
</div>
