<div class="relative h-screen w-screen items-center justify-center overflow-auto">
  <div class="inset-0 h-screen bg-cover bg-center" style="background-image: url('{{.Image}}')"></div>
  <div
    class="absolute inset-0 z-20 flex h-screen w-full items-center justify-center bg-zinc-900 bg-opacity-25 dark:bg-opacity-75"
  ></div>
  <div class="absolute inset-0 z-30 flex flex-col items-center justify-center">
    <div class="h-96 w-4/5 rounded-lg bg-zinc-100/50 bg-cover bg-center shadow-2xl dark:bg-zinc-900/50">
      <div class="grid grid-cols-12 gap-1">
        <div class="xxl:col-span-7 relative col-span-12 my-6 px-8 sm:col-span-12 md:col-span-7 lg:col-span-7">
          <div class="absolute left-0 mx-2 border-l-4 border-zinc-400 px-5 py-20">
            <h2 class="text-center text-xl font-semibold text-slate-900 dark:text-slate-100 md:text-4xl">{{.Title}}</h2>
          </div>
          <div class="mb-4 text-sm font-light text-slate-500">{{.ShowDate}}</div>
          <div class="absolute bottom-0 w-4/5 border-t-4 border-zinc-400 px-4 py-1"></div>
        </div>
        <div class="xxl:col-span-5 col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-5">
          <div class="relative h-full w-full rounded-br-lg rounded-tr-lg bg-orange-900 bg-opacity-50 md:h-96">
            <div class="p-8">
              <span class="float-right text-2xl">{{.Location}}</span>
              <p class="mb-4 text-xs text-slate-900 dark:text-slate-100 md:text-sm lg:text-xl">{{.Excerpt}}</p>
              <div class="absolute bottom-0 right-0 p-2">
                <a
                  class="inline-flex items-center rounded bg-zinc-100 px-4 py-2 text-sm font-bold opacity-75 hover:bg-orange-700 hover:text-white"
                  href="{{.Link}}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-2 h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  <span class="uppercase">More</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
