<div class="relative flex flex-col justify-center space-y-8 overflow-x-clip overflow-y-visible">
  <div class="container mx-auto max-w-5xl px-4 py-12">
    <div class="mx-4 grid gap-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3">
        <div
          class="mb-14 text-center before:mx-auto before:mb-5 before:block before:h-3 before:w-24 before:rounded-md before:bg-orange-400 before:dark:bg-orange-600 sm:text-left sm:before:mx-0"
        >
          <h2 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100">🗺️ Next Station</h2>
          <span class="text-lg font-light leading-loose text-slate-600 dark:text-slate-400"
            >โหมดท่องเที่ยว (ญี่ปุ่น)
          </span>
          <div class="mx-auto mt-16 flex w-fit flex-col items-start justify-center">
            <img src="/static/images/japan-map.png" alt="japan map" class="self-center p-4" />
            <div class="flex flex-row items-baseline justify-start">
              <div class="h-2 w-2 rounded-full bg-green-500"></div>
              <span class="mx-2 text-xs text-gray-600 dark:text-gray-400">Visited</span>
            </div>
            <div class="flex flex-row items-baseline justify-start">
              <div class="h-2 w-2 rounded-full bg-blue-500/75"></div>
              <span class="mx-2 text-xs text-gray-600 dark:text-gray-400">Never been there</span>
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 space-y-6 px-4 sm:col-span-9">
        <div
          class="relative col-span-12 space-y-12 px-4 before:bg-orange-200 before:dark:bg-orange-400 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:-left-3 sm:before:bottom-0 sm:before:top-2 sm:before:w-0.5"
        >
          {{range .Items}}
          <div
            class="before:top-1/2 before:bg-orange-400 before:shadow before:shadow-orange-500 before:dark:bg-orange-600 sm:relative sm:before:absolute sm:before:left-[-35px] sm:before:z-10 sm:before:h-4 sm:before:w-4 sm:before:rounded-full"
          >
            <div
              class="relative mx-auto flex max-w-sm flex-col space-y-3 rounded-xl border border-white bg-white p-3 shadow-lg md:max-w-3xl md:flex-row md:space-x-5 md:space-y-0"
            >
              <div class="grid w-full place-items-center bg-white md:w-1/3">
                <img
                  src="https://images.pexels.com/photos/4381392/pexels-photo-4381392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="tailwind logo"
                  class="rounded-xl"
                />
              </div>
              <div class="flex w-full flex-col space-y-2 bg-white p-3 md:w-2/3">
                <div class="item-center flex justify-between">
                  <p class="text-xs font-light text-slate-500"><time>2024 Feb 31</time></p>
                  <div class="max-md:hidden">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-pink-500"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                </div>
                <h3 class="text-xl font-semibold text-slate-800">{{.Title}}</h3>
                <p class="flex-1 text-sm font-light text-slate-400">
                  The best kept secret of The Bahamas is the country’s sheer
                </p>
                <p class="text-xl font-bold text-slate-800">
                  $110
                  <span class="text-base font-normal text-slate-600">/night</span>
                </p>
              </div>
            </div>
          </div>
          {{end}}
          <div class="mt-16 text-center">
            <a
              href="/vacations"
              class="mt-4 inline-block w-full rounded bg-orange-500 px-8 py-3 text-white transition hover:bg-orange-400"
            >
              ไปเที่ยวที่ไหนอีกบ้าง
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="absolute -left-[480px] -top-[640px] -z-50 h-[640px] w-[640px] rounded-[50%] bg-orange-500"
    style="
      box-shadow:
        0 0 10px orange,
        0 0 60px orange,
        0 0 200px yellow,
        inset 0 0 80px yellow;
      filter: blur(2px);
    "
  ></div>
  <div
    class="absolute -right-[60px] top-2/4 -z-50 h-[120px] w-[120px] rounded-[50%] bg-zinc-500 dark:bg-white"
    style="
      box-shadow:
        0 0 10px slategray,
        0 0 60px slategray,
        0 0 200px whitesmoke,
        inset 0 0 80px slategray;
      filter: blur(1px);
    "
  ></div>
</div>
