<div class="container mx-auto space-y-8 p-6">
  <div class="space-y-2 text-center">
    <h2 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100">Blog & Notes</h2>
    <p class="text-lg font-light leading-loose text-slate-600 dark:text-slate-400">
      เขียนบันทึกไว้กันลืม แต่ก็ดันลืมว่าเคยเขียนไว้
    </p>
  </div>
  <div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
    {{range .Items}}
    <article class="flex flex-col rounded bg-zinc-50">
      <div class="flex flex-1 flex-col p-6">
        <a rel="noopener noreferrer" href="#" aria-label="{{.Title}}"></a>
        <a rel="noopener noreferrer" href="#" class="text-xs uppercase tracking-wider text-orange-600 hover:underline"
          >Convenire</a
        >
        <h3 class="line-clamp-2 flex-1 py-2 font-medium leading-snug">{{.Title}}</h3>
        <div class="flex flex-wrap justify-between space-x-2 pt-3 text-xs font-light text-slate-600">
          <span>June 1, 2020</span>
          <span>2.1K views</span>
        </div>
      </div>
    </article>
    {{end}}
  </div>

  <div class="mt-16 text-center">
    <a
      href="/notes"
      class="mt-4 inline-block rounded bg-orange-500 px-8 py-3 text-white transition hover:bg-orange-400"
    >
      ดูเพิ่มเติม
    </a>
  </div>
</div>
