<div class="container mx-auto space-y-8 p-6 my-80">
  <div class="space-y-2 text-center">
    <h2 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100">Blog & Notes</h2>
    <p class="text-lg font-light leading-loose text-slate-600 dark:text-slate-400">
      เขียนบันทึกไว้กันลืม แต่ก็ดันลืมว่าเคยเขียนไว้
    </p>
  </div>
  <div class="grid grid-cols-1 gap-x-4 gap-y-8 lg:grid-cols-2">{{range .Items}} {{template "card.html" .}} {{end}}</div>

  <div class="mt-16 text-center">
    <a
      href="/notes"
      class="mt-4 inline-block rounded border border-orange-500 bg-white px-8 py-3 text-center text-orange-500 transition hover:bg-orange-400 hover:text-white"
    >
      เรียนรู้เพิ่มเติม 💡
    </a>
  </div>
</div>
